body {
  padding: 30px;
}
header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 0, 0, 0.8),
      rgba(241, 241, 247, 0.8)
    ),
    url(keyboard-dark.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  margin-bottom: 40px;
}
.page2 {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 0, 0, 0.8),
      rgba(241, 241, 247, 0.8)
    ),
    url(macbook.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  margin-bottom: 40px;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.box-container div {
  padding: 10px;
}
.box1 {
  color: white;
  border: 1px solid white;
  flex-basis: 30%;
  transform: border-radius 5s;
}
.box2 {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  flex-basis: 30%;
}
.box3 {
  color: #fff;
  border: 1px solid white;
  border-radius: 15px;
  flex-basis: 30%;
}

.box4 {
  margin: 30px;
  text-align: center;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 15px;
  transition: background-color 2s;
}
div.box4:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

div.box1:hover {
  color: red;
  border-radius: 35px;
}

div.box5 {
  margin-left: 100px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  background: red;
  transition-property: skewX;
  transition-duration: 5s;
}
div.box5:hover {
  transform: skewX(120deg);
}
.title-box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}


.heading-primary-sub {
  display: block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 30px;
  animation-name: moveInRight;
  animation-duration: 4s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    opacity: 0.6;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: white;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  70% {
    opacity: 0.6;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: white;
  }
}

.box6 {
  padding: 30px;
  margin: 30px;
  border: 1px solid white;
  width: 40%;
  height: 40px;
}

.box6::before,
.box6::after {
  content: "";
  background-color: red;
  height: 5px;
  width: 10px;
  position: absolute;
}

.page3 {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 0, 0, 0.8),
      rgba(241, 241, 247, 0.8)
    ),
    url(macbook.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  margin-bottom: 40px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 30px;
  padding-right: 12%;
  padding-left: 12%;
}
.heading {
  font-size: 40;
  color: white;
  font-weight: 700;
}
img {
  height: 300px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-around;
}

.col {
  flex-basis: 28%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.profile {
  width: 100%;
  height: 100%;
  background: rgb(61, 61, 136);
  box-sizing: border-box;
  padding: 12px;
}

.col::before,
.col::after {
  content: "";
  height: 0;
  width: 0;
  background: linear-gradient(135deg, #ff001d, #ddfa00);
  position: absolute;
  z-index: -1;
  animation: none;
}
.col::before {
  left: 0;
  top: -8px;
}
.col:after {
  right: 0;
  bottom: -8px;
}

@keyframes ravi {
  0% {
    height: 8px;
    width: 0px;
  }
  50% {
    height: 8px;
    width: calc(100% + 8px);
  }
  100% {
    height: calc(100% + 16px);
    width: calc(100% + 8px);
  }
}
.col:hover::before,
.col:hover::after {
  animation: ravi 0.5s linear;
  animation-fill-mode: forwards;
}
.btn-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.btn{

  padding: 15px;
  border-radius: 100px;
  border: 1px solid black;
  background-color: cyan;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  animation: btnAnimation 1.5s;
}
.btn:hover{
  background-color: darkcyan;
}

@keyframes btnAnimation{
  0% {
  opacity: 0;
  transform:translateX(280px)
  }
  80% {
    opacity: 1;
    transform:translateX(-20px)
  }
  100% {
    opacity: 1;
    transform:translateX(0)
  }
}
